* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styling for the logo inside the header */
header .logo {
    position: relative;
    font-size: 30px;
    color: #212529;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    /* or display: block; depending on your needs */
}

/* Styling for an element with the ID 'img' */
#img {
    min-width: 100px;
    min-height: 10px;
    box-shadow: -3px 23px 33px -10px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: -3px 23px 33px -10px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -3px 23px 33px -10px rgba(0, 0, 0, 0.44);
    display: block;
    /* or display: inline-block; depending on your needs */
}

/* Styling for a navigation item on hover */
.nav-item:hover {
    border-radius: 10px;
    /* Added 'px' unit for border-radius */
    /* background-color: grey; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#btn1 {
    background-color: #212529;
    color: white;
    border-radius: 0;

}

.txt-1 {
    width: 100%;
    margin-top: 10%;
    font-size: 50px;
    font-weight: 700;
    color: #212529;
}

body {
    background-color: #FFFFFF;
}

.guide-title {
    font-size: 6vh;
    color: #B44E4E;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fs-1 {
    color: #212529;
    width: 75%;
    margin-top: 10%;
}

.dd-p {
    font-size: large;
}

.card {
    border-radius: 2%;
    box-shadow: 10px 8px 38px -5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 8px 38px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 8px 38px -5px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    left: 10%;
    text-align: center;
    width: 83%;
    margin-top: 20%;
}

.btn {
    transition: transform 528ms ease;
    -webkit-transition: transform 528ms ease;
    -moz-transition: transform 528ms ease;
    -ms-transition: transform 528ms ease;
    -o-transition: transform 528ms ease;

}

.btn:hover {
    transform: translate(0px, -6px);

}

.btn-section {
    background-color: #212529;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}


.bigtxt {
    font-size: 90px;
    width: 100%;
    font-weight: bolder;
    color: #B44E4E;
    text-transform: uppercase;
    margin: 20vh 0vh;
}

.open a {
    background-color: #212529;
    color: white;
    border-radius: 0;
    width: 100px;
    border: none;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.open a:hover {
    background-color: #FFC113 !important;
}

.card-text {
    text-align: justify;
    padding: 2vh;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

@media (max-width: 576px) {
    .bigtxt {
        font-size: 16px;
        text-align: center;

    }
}