/* Reset default margin, padding, and box model for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styling for the logo inside the header */
header .logo {
    position: relative;
    font-size: 30px;
    color: #212529;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    /* or display: block; depending on your needs */
}

/* Styling for an element with the ID 'img' */
#img {
    min-width: 100px;
    min-height: 10px;
    box-shadow: -3px 23px 33px -10px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: -3px 23px 33px -10px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -3px 23px 33px -10px rgba(0, 0, 0, 0.44);
    display: block;
    /* or display: inline-block; depending on your needs */
}

/* Styling for a navigation item on hover */
.nav-item:hover {
    border-radius: 10px;
    /* Added 'px' unit for border-radius */
    /* background-color: grey; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn {
    transition: transform 528ms ease;

}

.btn:hover {
    transform: translate(0px, -6px);
}


.text-decoration-none:hover {
    text-decoration: underline;

}


.card {
    border-radius: 2%;
    box-shadow: 10px 8px 38px -5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 8px 38px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 8px 38px -5px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;

}

.card-title {
    font-family: 'Oswald', sans-serif;
    width: auto;
    font-size: 20px;
    padding: 0vh 2vh;
    padding-top: 2vh;
    min-height: 8vh;
}



.bigt {
    font-size: 70px;
    font-weight: bold;
}

.btn-1 {
    background-color: #212529;
    color: white;
    border-radius: 0;
    width: 100px;
    border: none;

}

.card-text {
    text-align: justify;
    padding: 2vh;
    min-height: 20vh;
}

.open a {
    background-color: #212529;
    color: white;
    border-radius: 0;
    width: 100px;
    border: none;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.open a:hover {
    background-color: #FFC113 !important;
}

.btn {
    transition: transform 528ms ease;
}

.btn:hover {
    transform: translate(0px, -6px);
}

@media (max-width: 1200px) {
    .card-text {
        min-height: 24vh;
    }
}

@media (max-width: 992px) {
    .card-text {
        min-height: 15vh;
    }
}