/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Header Styling */
header .logo {
    position: relative;
    font-size: 50px;
    color: #212529;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    
}

/* Body Styling */
body {
    background-color: #EEF0F4;
}

/* Image Styling */
#img {
    min-width: 100px;
    min-height: 10px;
    box-shadow: -3px 23px 33px -10px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: -3px 23px 33px -10px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -3px 23px 33px -10px rgba(0, 0, 0, 0.44);
    display: block;
}

/* Navigation Styling */
.nav-item:hover {
    border-radius: 10px;
    /* background-color: grey; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* Dropdown Styling */
.nav-link,
.dropdown-item {
    font-weight: 600;
    text-transform: uppercase;
    color: #595959;
}

.nav-link.active {
    color: #B44E4E !important;
}

.nav-link:hover,
.dropdown-item:hover {
    color: #B44E4E;
}

.dropdown-toggle.show {
    color: #B44E4E !important;
}

.dropdown-menu {
    border: none;
    border-radius: 0px;
}


/* text Styling */
.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: black;
    left: 8%;
    top: -300px;
    position: relative;
}


#text1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    left: 8%;
    top: -300px;
    width: 50%;
    color: rgb(175, 171, 171);
    position: relative;
}

/* Styling for an element with the ID 'text2' */
#text2 {
    width: 100%;
    text-align: center;
    text-decoration: none;
}

/* section Styling */
#img_1 {
    filter: brightness(35%);
    -webkit-filter: brightness(35%);
    height: 534px;
    width: 100%;
}

/* Styling for an element with the ID 'img1' */
#img1 {
    width: 25%;
    height: auto;
    box-shadow: -4px 14px 16px -11px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: -4px 14px 16px -11px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -4px 14px 16px -11px rgba(0, 0, 0, 0.51);
}

.aboutus {
    position: relative;
    text-align: center;
    margin: 6%;
}

#img3 {
    position: relative;
    left: -7%;
    width: 100%;
    height: 100%;
    display: block;
}

.txt {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20%;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    padding: 10px;
    box-shadow: 1px 10px 12px -11px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 10px 12px -11px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 10px 12px -11px rgba(0, 0, 0, 0.2);

}


#bg {
    background-color: #302F2F;
    color: #fff;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 34px 39px -14px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 1px 34px 39px -14px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 1px 34px 39px -14px rgba(0, 0, 0, 0.64);

}


/* Timeline Styling */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline-item {
    padding: 20px;
    margin: 20px 0;
    box-shadow: 1px 34px 39px -14px rgba(0, 0, 0, 0.64);
    border: 1px solid #302F2F;
    border-radius: 5px;
    background-color: #302F2F;
}

.timeline-date {
    font-weight: bold;
    color: #B44E4E;
}

.timeline-content {
    color: #fff;
}

/* Gallery Styling */
.gallery {
    padding: 20px;
    text-align: center;
}

.txt3 {
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pxx {
    color: #A3A9B5;
    font-size: 17px;
}

.gal {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

}

.gal img {
    width: 100%;
    height: auto;

}

.image-a {
    display: block;
    width: 100%;
    height: auto;
}

/* Carousel Styling */
.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    
}



.carousel {
    max-height: 700px;
    

}


.carousel-item {
    max-height: 500px;
    /* Adjust the height as needed */
}


.carousel-item img {
    max-height: 100%;
    
}

.story {
    font-size: 45px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    color: #333;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.carousel-control-prev-icon {
    /**/
    position: relative;
    /******/
    top: 10%;
    /******/
}

.carousel-control-next-icon {
    /******/
    position: relative;
    /******/
    top: 10%;
    /******/
}

.carousel-caption {
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(51, 51, 51, 0.8), rgb(51, 51, 51));
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Footer styling*/

.btn {
    transition: transform 528ms ease;
}

.btn:hover {
    transform: translate(0px, -6px);
}

/* Text-decoration Styling */
.text-decoration-none:hover {
    text-decoration: underline;
}


/* NEW CSS HERE  */
/* Hero Section Styling */
.hero-bg {
    background-image: url(assets/img/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-content-holder {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.hero-content {
    padding-left: 8vw;
    padding-top: 20vh;
}

h1.hero-title,
span.hero-title-two {
    font-size: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

h1.hero-title {
    color: rgb(175, 171, 171);
    left: -5px;
    position: relative;
}

span.hero-title-two {
    font-family: Arial, Helvetica, sans-serif;
    color: #B44E4E;
}

.hero-details {
    color: rgb(175, 171, 171);
    font-size: 2.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 45%;
}

/* Section Holder Styling */
.section-holder {
    text-align: center;
    padding: 15vh 10vh;
}

.section-title {
    text-align: center;
    padding-bottom: 3vh;
    font-size: 8vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section-subtitle {
    padding: 5vh 0vh;
    padding-bottom: 3vh;
    font-size: 3vh;
    font-weight: 600;
    text-align: left;
}

.section-details-title {
    padding: 5vh 0vh;
    padding-bottom: 3vh;
    font-size: 2vh;
    font-weight: 600;
    text-align: left;
    color: #B44E4E;
}

.section-details {
    padding-bottom: 2vh;
    text-align: justify;
}

/* Image Holder Styling */
.img-holder {
    margin-bottom: 10vh;
}

.section-img-content {
    border-radius: 10px;
    padding: 20px;
    height: 28vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    margin-bottom: 3vh;
    box-shadow: -4px 14px 16px -11px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: -4px 14px 16px -11px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -4px 14px 16px -11px rgba(0, 0, 0, 0.51);
}

/* Card Holder Styling */
.home-card-holder {
    background-color: #302f2f;
    border-radius: 10px;
    box-shadow: 1px 34px 39px -14px rgba(0, 0, 0, 0.64);

}

/* Carousel Image Content Styling */
.card-img-content {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border-radius: 10px;
}

.card-holderss {
    padding: 2vh 1.5vh;
}



.card-holderss h3 {
    color: white;
    min-height: 3vh;
}

.card-holderss p {
    color: white;
    text-align: justify;
}

.carousel-img-content {
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}


/* Font Face Styling */
@font-face {
    font-family: "airstrikebold-webfont";
    src: url("assets/font/airstrikebold-webfont.woff");
}
/* Icon Styling */
.icon {
    font-family: 'airstrikebold-webfont';
}

/* Navbar Brand Styling */
.navbar-brand, .logo, .icon {
    line-height: 2rem;

}

.container-fluid {
    line-height: 2.5rem;
}


/*********MEDIA YARN************/
@media (max-width: 1200px) {
    #img_1 {
        filter: brightness(35%);
        -webkit-filter: brightness(35%);
        height: auto;
        width: 100%;

    }

    .p-text-aboutus {
        text-align: center;
        font-size: 15px;
        width: 100%;


    }

    .text {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        color: black;
        left: 8%;
        top: -300px;
        position: relative;
    }

    #txtgg {
        font-size: 100% !important;
        top: 20%;
    }

    #text1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        left: 8%;
        top: -300px;
        width: 50%;
        color: rgb(175, 171, 171);
        position: relative;
    }

    #img1 {
        display: grid !important;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }

    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 992px) {
    #img_1 {
        filter: brightness(35%);
        -webkit-filter: brightness(35%);
        height: auto;
        width: 100%;
    }

    .p-text-aboutus {
        text-align: center;
        font-size: 15px;
        width: 100%;


    }

    .text {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        color: black;
        left: 8%;
        top: -300px;
        position: relative;
    }

    #txtgg {
        font-size: 100% !important;
        top: 20%;
    }

    #text1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        left: 8%;
        top: -300px;
        width: 50%;
        color: rgb(175, 171, 171);
        position: relative;
    }

    #img1 {
        display: grid !important;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }

    .images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .section-holder {
        padding: 10vh 0vh;
    }

    .hero-content {
        padding-top: 10vh;
    }

    .hero-details {
        width: 70%;
    }

    .card-img-content {
        height: 35vh;
    }

}


@media (max-width: 500px) {
    #img_1 {
        filter: brightness(35%);
        -webkit-filter: brightness(35%);
        height: auto;
        width: 100%;
    }

    .p-text-aboutus {
        text-align: center;
        font-size: 15px;
        width: 100%;


    }

    .text {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        color: black;
        left: 8%;
        top: -300px;
        position: relative;
    }

    #txtgg {
        font-size: 100% !important;
        top: 20%;
    }

    #text1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        left: 8%;
        top: -300px;
        width: 50%;
        color: rgb(175, 171, 171);
        position: relative;
    }

    #img1 {
        display: grid !important;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }

    #img3 {
        background-image: none;
    }

    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-content {
        padding-top: 20vh;
        padding-left: 2vh;
        padding-right: 2vh;
    }

    .hero-details {
        width: 100%;
        padding-top: 5vh;

    }

    h1.hero-title,
    span.hero-title-two {
        font-size: 5vh;
    }

    .hero-bg {
        background-attachment: scroll;
    }

    header .logo {
        font-size: 30px;
    }

    .navbar-toggler-icon {
        background-size: 80%;
        color: white;
        top: 23px;
        position: absolute;
        right: 31px;
    }

    .navbar-toggler {
        width: 35px;
        height: 28px;
    }

    .card-holderss h3 {
        text-align: center;
    }

    #iconz {
        font-size: 3rem;
        text-align: center;
        color: #B44E4E;
        padding: 2vh;
        justify-content: center;
        display: grid;
    }

}

@media (max-width: 768px) {
    #img3 {
        display: none;
    }

    #img_1 {
        filter: brightness(35%);
        -webkit-filter: brightness(35%);
        height: auto;
        width: 100%;
    }

    .p-text-aboutus {
        text-align: center;
        font-size: 15px;
        width: 100%;


    }

    .text {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 22px !important;
        color: black;
        left: 8%;
        top: -300px;
        position: relative;
    }

    #txtgg {
        font-size: 100% !important;
        top: 20%;
    }

    #text1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30% !important;
        left: 8%;
        top: -70px;
        width: 70%;
        color: rgb(175, 171, 171);
        position: relative;
    }

    #img1 {
        width: 200vh !important;
        margin-top: 10px;
    }

    .images {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .txt {
        font-size: 12px;
        width: 100%;
    }


}

@media (max-width: 1024px) {
    #img3 {
        display: none;
    }

    #img_1 {
        filter: brightness(35%);
        -webkit-filter: brightness(35%);
        height: auto;
        width: 100%;
    }

    .p-text-aboutus {
        text-align: center;
        font-size: 15px;
        width: 100%;


    }

    .text {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        color: black;
        left: 8%;
        top: -300px;
        position: relative;
    }

    #txtgg {
        font-size: 100% !important;
        top: 20%;
    }

    #text1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large !important;
        left: 8%;
        top: -300px;
        width: 70%;
        color: rgb(175, 171, 171);
        position: relative;
    }

    #img1 {
        width: 200vh !important;
        margin-top: 10px;
    }

    .images {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .txt {
        font-size: 12px;
        width: 100%;
    }


}

@media (max-width: 320px) {
    #img_1 {
        filter: brightness(35%);
        -webkit-filter: brightness(35%);
        height: auto;
        width: 100%;
    }

    .p-text-aboutus {
        text-align: center;
        font-size: 15px;
        width: 100%;


    }

    .text {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        color: black;
        left: 8%;
        top: -300px;
        position: relative;
    }

    #txtgg {
        font-size: 100% !important;
        top: 20%;
    }

    #text1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        left: 8%;
        top: -300px;
        width: 50%;
        color: rgb(175, 171, 171);
        position: relative;
    }

    #img1 {
        width: 100%;
        margin-top: 10px;
    }

    .images {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .txt {
        font-size: 12px;
        width: 100%;
    }
    
    body {
        background-color: #212529;
        color: white;
    }

    header .logo {
        color: white;
    }

    button, .navbar-toggler {
        background-color: #fff;
    }


    .navbar-toggler-icon {
        position: relative;
        top: -6px;
        left: -10px;
        color: #fff;
    }


}

@media (max-width: 375px) {
    #img_1 {
        filter: brightness(35%);
        -webkit-filter: brightness(35%);
        height: auto;
        width: 100%;
    }

    .p-text-aboutus {
        text-align: center;
        font-size: 15px;
        width: 100%;


    }

    .text {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        color: black;
        left: 8%;
        top: -300px;
        position: relative;
    }

    #txtgg {
        font-size: 100% !important;
        top: 20%;
    }

    #text1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        left: 8%;
        top: -300px;
        width: 50%;
        color: rgb(175, 171, 171);
        position: relative;
    }

    #img1 {
        width: 100%;
        margin-top: 10px;
    }

    .images {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .txt {
        font-size: 12px;
        width: 100%;
    }


}

@media (max-width: 425px) {
    #img_1 {
        filter: brightness(35%);
        -webkit-filter: brightness(35%);
        height: auto;
        width: 100%;
    }

    .p-text-aboutus {
        text-align: center;
        font-size: 15px;
        width: 100%;


    }

    .text {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px !important;
        color: black;
        left: 8%;
        top: -70px;
        position: relative;
    }



    #txtgg {
        font-size: 100% !important;
        top: 20%;
    }

    #gain {
        font-size: 20px !important;
    }

    #text1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 60% !important;
        left: 8%;
        top: -70px;
        width: 70%;
        color: rgb(175, 171, 171);
        position: relative;
    }

    #img1 {
        width: 100% !important;
        margin-top: 10px;
    }

    .images {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .txt {
        font-size: 12px;
        width: 100%;
    }

}



@media (max-width: 290px) {
    .navbar-toggler {
        width: 35px;
        height: 28px;
    }
}

Livelink: https://khinsanity.github.io/MP_1/
Repository: https://github.com/khinsanity/MP_1
